<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
<title>**BUILD NEWS**</title>
<description> Enjoy </description>
<link>http://www.yourweb.com</link>
<item>
<title>Build 3.9 released 23.08.17 check in 'WKD ZONE' if lower click 'UPDATE BUILD' 1 click widgets added back to movie and tv shows sections at top ^^</title>
<description> Enjoy </description>
<link>http://www.yourweb.com</link>
</item>
</channel>
</rss>