<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
<title>ANONYMOUS</title>
<description> Enjoy </description>
<link>http://www.yourweb.com</link>
<item>
<title>Latest update OUT NOW! this will fix the "Install Me Now" error on anonymous section so err.. update now and install it NOW! Is not rocket science is it people, if a popup says an update is available then guess what?! if you want it to work properly then update! If not ignore but don't moan & whinge this & that aint working!! Go pay sky,netflix,amazon and rest of BIG corps! WE do this for FREE REMEMBER! Your NOT paying monthly subs to us are YOU??!!!</title>
<description> Enjoy </description>
<link>http://www.yourweb.com</link>
</item>
</channel>
</rss>