<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
<title>ANONYMOUS</title>
<description> Enjoy </description>
<link>http://www.yourweb.com</link>
<item>
<title>Latest update OUT NOW! this will fix the "Install Me Now" error on anonymous section so err.. update now and install it NOW! Is not rocket science is it, also if a popup says an update is available then guess what?! If you want it to work properly then update! If not ignore but don't moan it ain't working! Or go pay sky,netflix,amazon and rest of BIG corps! WE do this for FREE REMEMBER! Your NOT paying monthly subs to us are YOU?! Also with regards to links, if a link don't work try another! is plenty of links & content provided!</title>
<description> Enjoy </description>
<link>http://www.yourweb.com</link>
</item>
</channel>
</rss>
